@model AgricultureUI.Models.UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Edite Profile </h4>
            <br />

            <form class="forms-sample" method="post">
                
                <div class="form-group">
                   
                    <input type="text" class="form-control" placeholder="Enter a new e-Mail" asp-for="Mail">
                </div>
                <div class="form-group">
                    
                    <input type="text" class="form-control" placeholder="Enter a new PhoneNumber" asp-for="Phone">
                </div>
                <div class="form-group">

                    <input type="text" class="form-control" placeholder="Enter a new Password" asp-for="Password">
                </div>
                <div class="form-group">

                    <input type="text" class="form-control" placeholder="Re-enter the Password" asp-for="ConfirmPassword">
                </div>

                <button type="submit" class="btn btn-outline-info me-2">Save</button>

            </form>
        </div>
    </div>
</div>

